In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr

In [0]:
#fact_payment

payments = spark.table("default.staging_payments")

In [0]:
display(payments.limit(5))

payment_id,date,amount,rider_id
1,2019-05-01,9.0,1000
2,2019-06-01,9.0,1000
3,2019-07-01,9.0,1000
4,2019-08-01,9.0,1000
5,2019-09-01,9.0,1000

In [0]:
# Write data to fact_payments
spark.sql("drop table if exists default.fact_payments")
payments.dropDuplicates(["payment_id"]).write.format("delta").mode("overwrite").saveAsTable("default.fact_payments")

In [0]:
#dim_rider

riders = spark.table("default.staging_riders")

In [0]:
display(riders.limit(5))

rider_id,first_name,last_name,address,birthday,account_start_date,account_end_date,is_member
1000,Diana,Clark,1200 Alyssa Squares,1989-02-13,2019-04-23,null,true
1001,Jennifer,Smith,397 Diana Ferry,1976-08-10,2019-11-01,2020-09-01,true
1002,Karen,Smith,644 Brittany Row Apt. 097,1998-08-10,2022-02-04,null,true
1003,Bryan,Roberts,996 Dickerson Turnpike,1999-03-29,2019-08-26,null,false
1004,Jesse,Middleton,7009 Nathan Expressway,1969-04-11,2019-09-14,null,true

In [0]:
# Write data to dim_rider
spark.sql("drop table if exists default.dim_rider")
riders.dropDuplicates(["rider_id"]).write.format("delta").mode("overwrite").saveAsTable("default.dim_rider")

In [0]:
#dim_stations

In [0]:
stations = spark.table("default.staging_stations")

In [0]:
display(stations.limit(5))

station_id,name,latitude,longitude
525,Glenwood Ave & Touhy Ave,42.012701,-87.66605799999999
KA1503000012,Clark St & Lake St,41.88579466666667,-87.63110066666668
637,Wood St & Chicago Ave,41.895634,-87.672069
13216,State St & 33rd St,41.8347335,-87.6258275
18003,Fairbanks St & Superior St,41.89580766666667,-87.62025316666669

In [0]:
# Write data to dim_station
spark.sql("drop table if exists default.dim_station")
stations.dropDuplicates(["station_id"]).write.format("delta").mode("overwrite").saveAsTable("default.dim_station")

In [0]:
# fact_trips table
from pyspark.sql.functions import unix_timestamp

# Read data from tables
table1 = spark.read.format("delta").table("staging_trips")
table2 = spark.read.format("delta").table("dim_rider")

# Perform the join
joined_df = table1.join(table2, "rider_id")

# Calculate duration column
duration_df = joined_df.withColumn("duration", (unix_timestamp(col("ended_at")) - unix_timestamp(col("start_at")))/60)

#Calculate Rider Age column
rider_age_df = duration_df.withColumn("rider_age",(unix_timestamp(col("start_at")) - unix_timestamp(col("birthday")))/3600/24/365)

# Show the resulting DataFrame
rider_age_df.show()

+--------+----------------+-------------+-------------------+-------------------+----------------+--------------+----------+---------+--------------------+----------+------------------+----------------+---------+------------------+------------------+
|rider_id|         trip_id|rideable_type|           start_at|           ended_at|start_station_id|end_station_id|first_name|last_name|             address|  birthday|account_start_date|account_end_date|is_member|          duration|         rider_age|
+--------+----------------+-------------+-------------------+-------------------+----------------+--------------+----------+---------+--------------------+----------+------------------+----------------+---------+------------------+------------------+
|   71934|89E7AA6C29227EFF| classic_bike|2021-02-12 16:14:56|2021-02-12 16:21:43|             525|           660|   Ricardo|    Grant|34542 Smith Exten...|1983-08-26|        2020-12-27|            null|     true| 6.783333333333333| 37.49500558092338|
|   47854|0FEFDE2603568365| classic_bike|2021-02-14 17:52:38|2021-02-14 18:12:09|             525|         16806|    Joshua|Patterson| 323 Johnson Gateway|1982-12-10|        2019-12-19|            null|     true|19.516666666666666| 38.21025995687468|
|   70870|E6159D746B2DBB91|electric_bike|2021-02-09 19:10:18|2021-02-09 19:19:10|    KA1503000012|  TA1305000029|   Matthew|   Cherry|0684 Vasquez Key ...|1987-12-22|        2020-12-19|            null|     true| 8.866666666666667| 33.16109265601218|
|   58974|B32D3199F1C2E75B| classic_bike|2021-02-02 17:49:41|2021-02-02 17:54:06|             637|  TA1305000034|     David|    Smith|7018 Smith Throug...|2002-01-07|        2021-06-23|            null|    false| 4.416666666666667|19.086966673008625|
|   39608|83E463F23575F4BF|electric_bike|2021-02-23 15:07:23|2021-02-23 15:22:37|           13216|  TA1309000055|     James|    Evans|83825 Susan Cove ...|1949-06-15|        2020-07-13|            null|     true|15.233333333333333| 71.74419212962962|
|   36267|BDAA7E3494E8D545|electric_bike|2021-02-24 15:43:33|2021-02-24 15:49:05|           18003|  KP1705001026|     David| Castillo|3195 Brooke Vista...|1994-01-07|        2021-11-17|      2021-11-01|     true| 5.533333333333333|27.152480117960422|
|   50104|A772742351171257| classic_bike|2021-02-01 17:47:42|2021-02-01 17:48:33|    KP1705001026|  KP1705001026|    Thomas| Mcdaniel|6819 Peck Burgs S...|1987-06-22|        2016-10-04|      2021-01-01|     true|              0.85|33.640387557077624|
|   19618|295476889D9B79F8| classic_bike|2021-02-11 18:33:53|2021-02-11 18:35:09|           18003|         18003|   Loretta|   Howell|974 Smith Well Ap...|1997-02-14|        2018-05-22|      2019-11-01|     true|1.2666666666666666|24.010338438609843|
|   16732|362087194BA4CC9A| classic_bike|2021-02-27 15:13:39|2021-02-27 15:36:36|    KP1705001026|  KP1705001026| Katherine|  Collier|27890 Adrian Junc...|2001-07-01|        2016-11-25|      2017-02-01|    false|             22.95|19.675710901826484|
|   57068|21630F715038CCB0| classic_bike|2021-02-20 08:59:42|2021-02-20 09:17:04|    KP1705001026|  KP1705001026| Cassandra|       Li|     306 Pierce Port|1973-11-28|        2018-12-23|            null|    false|17.366666666666667|47.264040525114154|
|   32712|A977EB7FE7F5CD3A| classic_bike|2021-02-20 08:58:16|2021-02-20 08:58:41|    KP1705001026|  KP1705001026|    Willie|    Gomez|3385 Reeves Valle...|2003-09-04|        2019-08-14|      2021-09-01|     true|0.4166666666666667| 17.47773642820903|
|   23227|8B868B03D6753C2A| classic_bike|2021-02-20 16:45:11|2021-02-20 16:59:47|    KP1705001026|  KP1705001026|    Joshua|   Lawson|  06719 Cassidy Road|1995-02-16|        2020-03-12|            null|    false|              14.6|26.032049435565703|
|   73221|BD331D658B9D2C31| classic_bike|2021-02-18 13:21:03|2021-02-18 13:25:20|             525|           520|     Brett|     Hess|494 Richard Summi...|2005-08-24|        2021-08-17|            null|     true| 4.283333333333333|15.500154204718417|
|   22163|8DFEA9BAFE6BAA62| classic_bike|2021-02-26 17:40:05|2021-02-26 17:42:49|           13253|  TA1309000050|   Jessica|   Pierce|83122 Young Pines...|1978-05-06|        2020-10-09|            null|    false|2.7333333333333334|42.843112791730086|
|    7566|27BE9F6E67AFD86C| classic_bike|2021-02-06 14:40:25|2021-02-06 14:55:50|             525|         15578|  Courtney| Thompson|104 Cunningham Gr...|1999-11-12|        2021-07-17|      2021-10-01|     true|15.416666666666666|21.253729864282093|
|   71588|9B790D47A0A0F7F1| classic_bike|2021-02-19 23:25:40|2021-02-20 00:10:00|    KA1503000044|  KA1504000142| Alejandra| Williams|811 Andrea Fall A...|2001-06-19|        2019-04-13|            null|    false|44.333333333333336|19.687605910705226|
|   38661|3C2DF72600B1DE6C| classic_bike|2021-02-18 23:20:10|2021-02-19 00:01:39|    KA1503000044|  KA1504000142|  Kimberly|    Lopez|  56629 Justin Ports|1986-12-30|        2019-07-11|            null|     true|41.483333333333334| 34.16430777524099|
|   64751|48A8D07ED9C7065C| classic_bike|2021-02-20 23:35:29|2021-02-21 00:17:18|    KA1503000044|  KA1504000142|   Richard|    Adams|     163 John Radial|1998-01-05|        2021-09-16|            null|     true| 41.81666666666667|23.145158834348045|
|   10721|BBFF2AAA0A3A1A26|electric_bike|2021-02-02 15:48:52|2021-02-02 16:03:40|    KA1504000140|         17660| Johnathan|   Taylor|2351 Norton Viadu...|1995-11-15|        2021-08-24|            null|     true|              14.8|25.237421740233383|
|   13281|030723CBA8CF05E7| classic_bike|2021-02-23 07:44:12|2021-02-23 07:48:57|    TA1305000032|         15542|     Tanya|   Lester| 094 Richards Cliffs|1999-03-30|        2022-01-10|            null|    false|              4.75| 21.92143112633181|
+--------+----------------+-------------+-------------------+-------------------+----------------+--------------+----------+---------+--------------------+----------+------------------+----------------+---------+------------------+------------------+
only showing top 20 rows

In [0]:
rider_age_df.write.format("delta").mode("overwrite").saveAsTable("default.fact_trip")

In [0]:
# date dimension table

from pyspark.sql.functions import min, max

min_max_dates = table1.select(min("start_at").alias("min_date"), max("ended_at").alias("max_date")).first()
min_date = min_max_dates["min_date"]
max_date = min_max_dates["max_date"]

In [0]:
from pyspark.sql.functions import sequence, to_date

date_range_df = spark.range(0, (max_date - min_date).days + 1).selectExpr(f"date_add('{min_date}', cast(id as int)) as date")

In [0]:
from pyspark.sql.functions import date_format
from pyspark.sql.functions import weekofyear

date_dimension_df = date_range_df.select(
    "date",
    date_format("date", "yyyy").alias("year"),
    date_format("date", "Q").alias("quarter"),
    date_format("date", "MM").alias("month"),
    date_format("date", "dd").alias("day_of_month"),
    date_format("date", "E").alias("day_of_week"),
    #date_format("date", "w-yyyy").alias("WeekOfYear")
    
)
date_dimension_df = date_dimension_df.withColumn("week_of_year", weekofyear("date"))
date_dimension_df.show()

+----------+----+-------+-----+------------+-----------+------------+
|      date|year|quarter|month|day_of_month|day_of_week|week_of_year|
+----------+----+-------+-----+------------+-----------+------------+
|2021-02-01|2021|      1|   02|          01|        Mon|           5|
|2021-02-02|2021|      1|   02|          02|        Tue|           5|
|2021-02-03|2021|      1|   02|          03|        Wed|           5|
|2021-02-04|2021|      1|   02|          04|        Thu|           5|
|2021-02-05|2021|      1|   02|          05|        Fri|           5|
|2021-02-06|2021|      1|   02|          06|        Sat|           5|
|2021-02-07|2021|      1|   02|          07|        Sun|           5|
|2021-02-08|2021|      1|   02|          08|        Mon|           6|
|2021-02-09|2021|      1|   02|          09|        Tue|           6|
|2021-02-10|2021|      1|   02|          10|        Wed|           6|
|2021-02-11|2021|      1|   02|          11|        Thu|           6|
|2021-02-12|2021|      1|   02|          12|        Fri|           6|
|2021-02-13|2021|      1|   02|          13|        Sat|           6|
|2021-02-14|2021|      1|   02|          14|        Sun|           6|
|2021-02-15|2021|      1|   02|          15|        Mon|           7|
|2021-02-16|2021|      1|   02|          16|        Tue|           7|
|2021-02-17|2021|      1|   02|          17|        Wed|           7|
|2021-02-18|2021|      1|   02|          18|        Thu|           7|
|2021-02-19|2021|      1|   02|          19|        Fri|           7|
|2021-02-20|2021|      1|   02|          20|        Sat|           7|
+----------+----+-------+-----+------------+-----------+------------+
only showing top 20 rows

In [0]:
date_dimension_df.write.format("delta").mode("overwrite").saveAsTable("default.dim_date")